.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.captcha {
    margin-bottom: 2rem;
}

.alert {
    display: flex;
    align-items: center;
}

.sign {
    margin-left: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
}
