@import 'app/styles/vars';

.list {
    display: flex;
    padding: 0;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    background: rgba(45, 57, 136, 0.5);
}

.element {
    list-style: none;

    & button {
        padding: 1.3rem 2rem;
        @include font (1.4rem, 600, #fff, 1.7rem);
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #fff;
            color: $link;
        }

        &.active {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #fff;
            color: $link;
        }
    }
}

.filter {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.column {
    padding: 0 2rem;
    border-right: 1px solid $light-gray;
}

.title {
    margin-bottom: 1.1rem;
    @include font (1.4rem, 500, $light-gray, 1.7rem);
}
